---
import Btn from "@components/buttons/Btn/Btn.astro";
import { ANIMES } from "./animes";
import css from "./FavoriteAnimes.module.css";
import { Icon } from "astro-icon/components";
---

<div id="ks" class:list={["keen-slider", css.ks]}>
  {
    ANIMES.map((item) => (
      <div class:list={["keen-slider__slide", css.slide]}>
        <picture>
          <img src={item.img.src} alt={item.name} />
        </picture>

        <div class={css.synopsis}>
          <p>{item.synopsis}</p>
          <Btn>Ver</Btn>
        </div>
      </div>
    ))
  }

  <button id="ks_prev" class={css.prev}><Icon name={"arrow"} /></button>
  <button id="ks_next" class={css.next}><Icon name={"arrow"} /></button>
</div>

<script>
  import { Dom } from "@utils/dom/dom";
  import KeenSlider from "keen-slider";

  document.addEventListener("astro:page-load", () => {
    const ks = Dom.select("ks");
    if (!ks) return;

    const slider = new KeenSlider(ks, {
      loop: true,
      slides: { perView: 1 },
      created: (_slider) => {}, // se ejecuta luego de estar montado el slider
      slideChanged: (_slider) => {}, // se ejecuta cada que cambia diapo
    });

    const prev = Dom.select("ks_prev");
    const next = Dom.select("ks_next");

    prev?.addEventListener("click", () => {
      slider.prev();
    });

    next?.addEventListener("click", () => {
      slider.next();
    });
  });
</script>
